$tablet: 'max-width: 1024px';
$mobile: 'max-width: 767px';
html{ 
    box-sizing:border-box;
    & * {
        box-sizing:inherit;
    }
}

h1 { font-size: 2em; margin-bottom: 0.75em; }
table       { margin-bottom: 1.4em;
			  margin-left: 12%;
			  width:75%;
			  align:'center';
			  border-collapse:collapse;
			  text-align: right;
			}
thead th    { background-color: rgba(100,181,205,0.5); }


img {
    max-width:100%; 
    height:auto;
}

#container {
    max-width: 100%;
    margin: 0 auto;

    .imgContainer{
        width: 100%;
        line-height: 0;
        font-size: 0;
    }

}

.image {
   display:inline-block;
    padding: 5px;
    width: 48%;
    @media (#{$tablet}){
        width: 50%;
    }
    @media (#{$mobile}){
        width: 100%;
    }
    img {
        vertical-align:top;
    }
}